@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_utilities.scss";
@import "./_overrides.scss";
@import "./_lux.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.pointer{
  cursor: pointer;
}

.line-bottom{
  border-bottom: 2px solid $dark;
}

.line-top{
  border-top: 2px solid $dark;
}

.black-gradient{
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  min-height: 25%;
  max-height: 50%;
}

.text-shadow{
text-shadow: 1px 1px 2px black;
}